/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.dotted-background{
  background: url("./assets/bg-texture.png");
}

/* Ensure the container is transparent */
.image {
  background-color: transparent;
}

/* Apply transparency to the image */
.image img {
  opacity: 0.8;
}

/* Example of applying a filter */
.image img {
  filter: brightness(0.8);
}

/* Example of using a mask */
.image img {
  mask-image: url('./assets/web.png'); /* Path to your mask image */
  mask-size: cover;
}
