/* .banner{
  background-image: url('./assets/herobg.png');
  object-fit: cover;
} */

.banner {
  background-image: url('./assets/herobg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}


.shadow-custom {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* .shadow-custom:hover {
  box-shadow: 0px 4px 16px #dbc64c, 0px 8px 24px #dbc64c, 0px 16px 56px #dbc64c;
} */